# OS
.DS_Store
backend-spring/.m2/

# IntelliJ
.idea/
*.iml

# VSCode
.vscode/

# Java / Gradle
build/
.gradle/
out/
target/
backend-spring/target/

# Python
__pycache__/
*.pyc
venv/
.env

# Node
node_modules/
dist/

# Logs
*.log

# Docker
docker-data/

# Secrets
application-secret.yml
.env.local
.codex/
